#programs/mistakes/m1_mult3ext.m
#programs/mistakes/m1_mult3.m
#programs/mistakes/m2_fib.m
#programs/mistakes/m3_collatz_basic.m
#programs/mistakes/m3_collatzext1.m
#programs/mistakes/m4_fibext.m
#programs/mistakes/m5_collatzext2.m
#programs/mistakes/m6_primecountext1.m
#programs/mistakes/m6_primecountext2.m
#programs/mistakes/m6_primecount.m
#programs/mistakes/m7_systems.m
#programs/mistakes/m8_integration.m
#programs/mistakes/primefn.m

#programs/p1_mult3.m
#programs/p1_mult3ext.m
#programs/p2_fib.m
#programs/p3_collatz_basic.m
#programs/p3_collatzext1.m
#programs/p4_fibext.m
#programs/p5_collatzext2.m
#programs/primefn.m
#programs/p6_primecount.m
#programs/p6_primecountext1.m
#programs/p6_primecountext2.m
#programs/p7_systems.m
#programs/p8_integration.m
#programs/p9_odes.m
#programs/p9_odesext.m
#programs/p10_newton.m
#programs/p11_finitediffext.m
#programs/p11_finitediff.m
#programs/FEM1D.m
#programs/FEM2D.m
#programs/FEMcorr.m
#programs/matmultiply.m

docs/main.aux
docs/main.log
docs/main.out
docs/main.synctex.gz
docs/todo
docs/main.tex.woAM

#docs/*.png
#docs/*.jpg
#docs/mcode.sty
#docs/main.tex

#.gitignore
gh-pages
